.container {
  background: #d05252;
  width: 600px;
  height: 200px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container p {
  color: white;
  font-size: 22px;
}

.container span {
  color: white;
  font-weight: 600;
  padding-right: 50px;
}

.icon {
  color: white;
}

.loading {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #020202;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:600px) {
  .container {
    width: 400px;
    height: 150px;
    padding: 10px;
  }
  .container p {
     font-size: 15px;
  }

  .container span {
    font-weight: 600;
    padding-right: 50px;
  }
}


@media screen and (max-width:400px) {
  .container {
    width: 300px;
    height: 100px;
    padding: 10px;
  }
  .container p {
     font-size: 10px;
  }

  .container span {
    font-weight: 600;
    padding-right: 30px;
  }

  .container span {
    color: white;
    font-weight: 400;
    padding-right: 50px;
    font-size: 12px;
  }
}